@use "global" as *;

.blog {
  padding-top: rem(80);
  @include mq(md) {
    padding-top: rem(100);
    position: relative;
    z-index: 1;
  }
}

.blog::after {
  @include mq(md) {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    z-index: -1;
    background: url("../images/common/blog_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.blog__inner {
  width: min(rem(642), 100%);
  padding: 0 21px;
  margin-inline: auto;
  @include mq(md) {
    width: min(rem(1120), 100%);
    padding: 0 20px;
    position: relative;
  }
}

.blog__inner::after {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(437);
    background-image: url("../../assets/images/common/fish-image_large.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 437/201;
    position: absolute;
    content: "";
    top: rem(-75);
    right: min(57vw, rem(744));
    z-index: 1;
  }
}

.blog__title {
  margin-left: rem(-1);
}

.section-header__title.blog__title--color {
  @include mq(md) {
    color: $white;
  }
}

.section-header__title.blog__title--color::first-letter {
  @include mq(md) {
    color: #DDF0F1;
  }
}

.section-header__subtitle.blog__subtitle--color {
  @include mq(md) {
    color: $white;
  }
}

.blog__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  margin-top: rem(28);
  @include mq(md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: rem(80);
  }
}

.blog__btn {
  text-align: center;
  margin-top: rem(40);
  margin-left: rem(-2);
  @include mq(md) {
    margin-top: rem(80);
    margin-left: rem(-4);
  }
}

.blog__top-image {
  top: rem(24);
  left: 0;
}