@use "global" as *;

.contact-info {
  width: 100%;
  @include mq(md) {
    max-width: rem(440);
  }
}

.contact-info__logo {
  width: 85.5507246%;
  padding-bottom: rem(6);
  margin-inline: auto;
  border-bottom: rem(1) solid $greenaccent;
  @include mq(md) {
    width: 100%;
    padding-bottom: rem(8);
  }
}

.contact-info__image {
  max-width: rem(174);
  width: 100%;
  aspect-ratio: 174/65;
  margin-inline: auto;
  @include mq(md) {
    aspect-ratio: 200/75;
    max-width: rem(200);
  }
}

.contact-info__image img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.contact-info__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: rem(24);
  }
}

.contact-info__lists {
  text-align: center;
  margin-top: rem(16);
  margin-left: rem(-2);
  @include mq(md) {
    width: rem(148);
    margin-top: 0;
    text-align: left;
  }
}

.contact-info__list {
  color: $green;
  font-weight: 400;
  line-height: lheight(24,16);
}

.contact-info__list:nth-child(1) {
  margin-left: rem(-8);
  @include mq(md) {
    margin-left: 0;
  }
}

.contact-info__list:not(:first-child) {
  margin-top: rem(4);
}

.contact-info__map {
  width: 85.507247%;
  aspect-ratio: 295/160;
  margin-top: rem(16);
  margin-inline: auto;
  @include mq(md) {
    width: rem(273);
    aspect-ratio: 273/148;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }
}

.contact-info__map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}