@use "global" as *;

.information {
  position: relative;
  z-index: 1;
  background-color: #DDF0F1;
}

.information__inner {
  width: min(rem(630), 100%);
  padding: 0 15px;
  margin-inline: auto;
  @include mq(md) {
    width: min(rem(1120), 100%);
    padding: 0 20px;
  }
}

.information__content {
  margin-top: rem(28);
  @include mq(md) {
    display: flex;
    margin-top: rem(40);
  }
}