@use "global" as *;

.price-top {
  padding-top: rem(84);
  @include mq(md){
    padding-top: 0;
  }
}

.price-top__inner {
  @include mq(md) {
    max-width: rem(1120);
    width: 100%;
    margin-inline: auto;
    padding: 0 rem(20);
  }
}

.price-top__wrap {
  @include mq(md) {
    padding-top: rem(145);
    position: relative;
  }
}

.price-top__image {
  display: none;
  @include mq(md) {
    display: block;
    max-width: rem(71);
    width: 100%;
    aspect-ratio: 71/162;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding-bottom: rem(73);
  }
}

.price-top__image img {
  @include mq(md) {
    width: 100%;
    object-fit: cover;
  }
}