@use "global" as *;

.price {
  position: relative;
  z-index: 1;
  background-color: #DDF0F1;
}

.price__inner {
  width: min(rem(630), 100%);
  padding: 0 15px;
  margin-inline: auto;
  @include mq(md) {
    width: min(rem(1120), 100%);
    padding: 0 20px;
    position: relative;
  }
}

.price__inner::before {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(437);
    background-image: url("../../assets/images/common/fish-green_large.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 437/201;
    position: absolute;
    content: "";
    bottom: rem(-40);
    right: min(57.41vw, rem(744));
    z-index: 1;
  }
}

.price__title {
  @include mq(md) {
    padding-right: rem(5);
  }
}

.price__contents {
  display: flex;
  flex-direction: column;
  margin-top: rem(28);
  @include mq(md) {
    flex-direction: row-reverse;
    margin-top: rem(40);
  }
}

.price__image {
  width: 100%;
  position: relative;
  @include mq(md) {
    margin-left: rem(94);
  }
}

.price__image img {
  aspect-ratio: 345/227;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 492/746;
  }
}

.price__btn {
  text-align: center;
  margin-top: rem(40);
  margin-left: rem(-2);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.price__bottom-image {
  bottom: rem(60);
  left: 0;
}