@use "global" as *;

.voice {
  @include mq(md) {
    position: relative;
  }
}

.voice::before {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(301);
    background-image: url("../../assets/images/common/fish-image_small.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 301/138;
    position: absolute;
    content: "";
    top: rem(-120);
    left:  calc(50% - min(rem(620),47.5%));
    z-index: 1;
  }
}

.voice::after {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(71);
    background-image: url("../../assets/images/common/voice-rightBottom_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 71/162;
    position: absolute;
    content: "";
    bottom: rem(-71);
    right: calc(50% - min(rem(540),47.5%));
    z-index: 1;
  }
}

.voice__inner {
  max-width: rem(630);
  padding: 0 rem(15);
  margin-inline: auto;
  @include mq(md) {
    max-width: rem(1120);
    padding: 0 rem(20);
  }
}


.voice__cards {
  display: flex;
  flex-direction: column;
  margin-top: rem(44);
  gap: rem(39);
  @include mq(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: rem(30);
    gap: rem(40);
  }
}

.voice__btn {
  text-align: center;
  margin-top: rem(39);
  margin-left: rem(-2);
  @include mq(md) {
    margin-top: rem(80);
  }
}