@use "global" as *;

.circle-btn {
  width: rem(80);
  height: rem(80);
  border: 1px solid $greenaccent;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
// 矢印右向き
.circle-btn__arrow {
  display: inline-block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-bottom: 1px solid $greenaccent;
  border-right: 1px solid $greenaccent;
  width: rem(40);
  height: rem(6);
  transform: skew(45deg) translate(-50%,-50%);
}
// 矢印左向き
.circle-btn__arrow--left {
  transform: skew(-45deg) scaleX(-1) translate(50%,-50%);
}