@use "global" as *;

.content-header__title {
  font-size: rem(16);
  color: $green;
  border-bottom: 1px solid $greenaccent;
  padding-bottom: rem(4);
  @include mq(md) {
    font-size: rem(24);
  }
}