@use "global" as *;

.js-effect {
  width: 100%;
  height: 100%;
  position: relative;
  clip-path: inset(0% 0% 0% 100%);
  --effect-clip-path: inset(0% 0% 0% 0%);
}

.js-effect::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: $greenaccent;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: var(--effect-clip-path);
}
