@use "global" as *;

.rightside-image {
  position: absolute;
  width: 100%;
  z-index: 1;
  @include mq(md){
    padding-top: 0;
  }
}

.rightside-image__inner {
  @include mq(md) {
    max-width: rem(1313);
    width: 100%;
    padding: 0 rem(20);
    margin-inline: auto;
  }
}

.rightside-image__wrap {
  @include mq(md) {
    padding-top: rem(194);
    position: relative;
  }
}

.rightside-image__image {
  display: none;
  @include mq(md) {
    display: block;
    max-width: rem(194);
    width: 100%;
    aspect-ratio: 194/181;
    position: absolute;
    top: rem(13);
    right: 0;
    z-index: 1;
  }
}

.rightside-image__image img {
  @include mq(md) {
    width: 100%;
    object-fit: cover;
  }
}