@use "global" as *;

.voice-card {
  width: 100%;
  padding: rem(16) rem(16) rem(24);
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  @include mq(md) {
    width: 100%;
    padding: rem(25) rem(24) rem(23);
  }
}

.voice-card__info {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: rem(27);
  }
}

.voice-card__age {
  font-size: rem(12);
  color: $green;
  font-weight: normal;
  line-height: lheight(18,12);
  @include mq(md) {
    margin-top: rem(14);
  }
}

.voice-card__category {
  margin-right: auto;
  @include mq(md) {
    margin-left: auto;
    margin-right: 0;
  }
}

.voice-card__title  {
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(8);
  }
}
.voice-card__title-text {
  font-size: rem(16);
  font-weight: 500;
  line-height: lheight(23,16);
  padding-bottom: rem(3);
  border-bottom: 1px solid $greenaccent;
  @include mq(md) {
    font-size: rem(24);
    line-height: lheight(35,24);
  }
}

.voice-card__header {
  display: flex;
  align-items: flex-start;
  gap: rem(12);
  @include mq(md) {
    gap: 0;
  }
}

.voice-card__wrap {
  max-width: 48%;
  @include mq(md) {
    max-width: rem(276);
  }
}

.voice-card__image {
  width: 100%;
  margin-inline: auto;
  position: relative;
  margin-top: rem(8);
  @include mq(md) {
    width: 38.13559%;
    margin-left: rem(16);
    margin-top: 0;;
  }
}

.voice-card__image img {
  aspect-ratio: 151/117;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 180/140;
  }
}

.voice-card__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity .3s;
}

.voice-card__link:hover {
  opacity: 0.8;
}


.voice-card__text-block {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.voice-card__text {
  color: $green;
}